<h2>List Of Desserts</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td><a href="add"><span class="glyphicon glyphicon-plus"></span></a></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pudding in desserts">
            <td>{{ pudding.name }}</td>
            <td>{{ pudding.description }}</td>
            <td><a href="edit/{{$index}}"><span class="glyphicon glyphicon-edit"></span></a> | <a href="delete/{{$index}}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>